<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Render</title>
  </head>
  <body>
    <h2>We did a: </h2>
    <h1>{{method}} request</h1>
    <h2>to</h2>
    <h1>{{path}}</h1>
    <form class="" action="/new" method="post">
      <button type="submit" name="button">post to /new</button>
    </form>
    <form class="" action="/new/1?_method=PUT" method="post">
      <button type="submit" name="button">put to /new/1</button>
    </form>
  </body>
</html>
